 .row-bonsai {
    h2 {
      margin: 10px auto;
      font-family: 'Anton', sans-serif; 
    }
    p {
      margin: 10px auto;
      font-size: larger;
      font-family: 'Montserrat', sans-serif;
    }  
    .titulo2 {
      display: flex;
      justify-content: right;
    }
    .titulo3 {
      display: flex;
      justify-content: center
    }
  
  }
  #cuidados-bonsai {
    margin: 40px auto;
    width: 100vw;
  }
  #imagen-fertilizacion {
    width: 80vw;
  }
  .multimedia {
    background-color: rgb(236, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    &-video {
      display: flex;
      justify-content: center;
      margin: auto; 
      .video {
        background-color: white;
        width: 100%;
        height: 40vh;  
      }   
    }
  }
  
  @media (min-width:992px) {
    #img__poda {
      height: fit-content;
    }
    #cuidados-bonsai {
      width: 50vw;
    }
    .content-fertilizacion {
      display: flex;
      justify-content: space-between;
    }
    #imagen-fertilizacion {
      width: 600px;
      height: fit-content;
    }
    .multimedia-video {
      .video {
        width: 60vw;
        height: 70vh;
        margin: 40px 0px;
      }
    } 
  }