#formulario {
  background-color: rgb(236, 232, 232);
  width: 100%;
  padding: 40px 0px;
  margin: auto;
}
form {
  width: 90vw;
  margin: auto;
  h2 {
    font-family: "Anton", sans-serif;
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
  }
  #boton {
    background-color: rgb(2, 2, 28);
    color: white;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: rgb(23, 23, 93);
    }
  }
}

.map {
  background-color: rgb(236, 232, 232);
  text-align: center;
  padding-top: 40px;
  iframe {
    width: 90vw;
    height: 440px;
    margin: auto;
  }
  h2 {
    font-family: "Anton", sans-serif;
    margin-bottom: 40px;
    font-size: 2rem;
  }
}

// Vista Desktop

@media (min-width: 992px) {
  form {
    width: 50vw;
    margin: auto;
    border: black;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 2px black;
    padding: 20px;
    h2 {
      font-size: 2.5rem;
    }
  }
  .map {
    h2 {
      text-align: center;
      font-size: 2.5rem;
    }
    iframe {
      width: 100%;
      height: 370px;
    }
  }
}
