/* Vista Mobile */

.nav__whatsapp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  img {
    width: 50px;
  }
  &:hover {
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
  }
}

/* Carousel main mobile */

.main__img {
  img {
    width: 100vw;
    height: 30vh;
  }
  .main__text__uno {
    animation: move 3s ease;
  }
  .main__text__uno,
  .main__text__dos,
  .main__text__tres {
    line-height: 1;
    h1 {
      font-size: 1.1rem;
      font-family: "Anton", sans-serif;
    }
    p {
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }
  .btn__color {
    background-color: $primary;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
    border-radius: 40px;
    padding: 2px 8px;
    &:hover {
      background-color: $primary !important;
      color: white !important;
    }
  }
}

@keyframes move {
  0% {
    transform: translate(300px);
  }
}

/* Cards mobile */

.productos {
  background-color: rgb(236, 232, 232);
}

.carousel-inner,
.products__title {
  text-align: center;
  background-color: rgb(236, 232, 232);
}

.products__title {
  font-family: "Anton", sans-serif;
  padding-top: 20px;
  font-size: 1.8rem;
}

.card {
  @extend .boxshadowed;
  margin: auto;
  width: 40%;
  border: black;
  height: 100%;

  .image__wrapper {
    img {
      width: 100%;
      height: 15vh;
    }
  }
  &__wrapper {
    display: flex;
    background-color: rgb(236, 232, 232);
    margin: 40px 0px;
  }
  &:not(:first-child) {
    display: none;
  }
  &-body {
    .card-title {
      font-size: .9rem;
      font-weight: bold;
    }
    .card-text {
      font-size: .7rem;
      font-weight: bold;
    }
    .btn__color__product {
      background-color: $primary;
      color: white;
      padding: 5px 10px;
      border-radius: 40px;
      font-size: 0.7rem;
      &:hover {
        background-color: $primary;
      }
    }
  }
}

/* multimedia mobile */

.audio {
  width: 60vw;
  margin-top: 20px;
  padding-bottom: 20px;
}

// Aqui comienza vista Tablet

@media (min-width: 490px) {
  .main__img {
    img {
      height: 40vh;
    }
    .main__text__uno,
    .main__text__dos,
    .main__text__tres {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .btn__color {
      font-size: 1rem;
    }
  }

  .card {
    margin: auto;
    width: 30%;
    height: fit-content;
    .image__wrapper {
      img {
        height: 160px;
      }
    }
    &-body {
      .card-title {
        font-size: 1rem;
      }
      .card-text {
        font-size: 0.8rem;
      }
      .btn__color__product {
        padding: 5px 10px;
        font-size: 0.8rem;
      }
    }
  }
}

/* Aqui comienza vista Desktop */

@media (min-width: 992px) {
  .nav__whatsapp {
    right: 20px;
    bottom: 20px;
    img {
      width: 60px;
    }
  }

  /* Carousel Main desktop */

  .main__img {
    img {
      height: 110vh;
    }
    .main__text__uno {
      animation: move 3s ease;
    }
    .main__text__uno,
    .main__text__dos,
    .main__text__tres {
      position: absolute;
      bottom: 80px;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 2.9rem;
      }
      .btn__color {
        font-size: 1.8rem;
        padding: 5px 20px;
        &:hover {
          transform: scale(1.1);
          transition: 0.3s;
          background-color: $primary !important;
        }
      }
    }
  }

  /* Cards products desktop */

  .carousel-inner,
  .products__title {
    text-align: center;
  }

  .products__title {
    padding-top: 60px;
    font-size: 2.5rem;
  }

  .card {
    margin: 20px 50px;
    width: calc(60% / 3);
    height: auto;
    .image__wrapper {
      img {
        height: 180px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      background-color: rgb(236, 232, 232);
    }
    &:not(:first-child) {
      display: flex;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .card-text {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .btn__color__product {
      font-size: 1.2rem;
    }
  }
  .image__wrapper {
    img {
      width: 100%;
      height: 200px;
    }
  }
  .btn__color__product {
    font-size: 1.8rem;
    padding: 5px 20px;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: $primary !important;
      color: white !important;
    }
  }
  .carousel-control {
    &-prev {
      position: absolute;
      top: 150px;
      left: 0px;
    }
    &-next {
      position: absolute;
      top: 150px;
      right: 0px;
    }
  }

  /* multimedia desktop */

  .audio {
    width: 500px;
    margin-top: 0px;
    padding-bottom: 10px;
  }
}
