.row-koke {
    h2 {
      margin: 20px auto;
      font-family: 'Anton', sans-serif;
      
    }
    p {
      margin: 10px auto;
      font-size: larger;
      font-family: 'Montserrat', sans-serif;
    }  
    .titulo2 {
      display: flex;
      justify-content: right;
      padding-right: 60px;
    }
    .titulo3 {
      display: flex;
      justify-content: center
    }
    
  }