.row__sobre__nosotros__container {
  h2 {
    margin: auto;
    font-family: "Anton", sans-serif;
  }
  p {
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
  }
  .row__sobre__nosotros__content {
    .card__sobre__nosotros {
      width: 80%;
      margin:auto;
      text-align: center;
      background-image: url(/imagenes/background-grey.jpg);
      background-size: cover;
      padding: 30px;
      box-shadow: 1px 1px 6px 2px black;
      h4 {
        font-size: 30px;
        font-family: "Anton", sans-serif;
      }
      p {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
      }
      img {
        margin: auto;
      }
    }
  }
}

.parrafo-con-fondo {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  background-image: url(/imagenes/background-grey.jpg);
  background-size: cover;
  text-transform: uppercase;
  padding: 1.5rem;
}

// vista Desktop

@media (min-width: 992px) {
  .row-sobre-nosotros {
    .img__serrana {
      height: 490px;
    }
  }
  .card__sobre__nosotros {
    display: flex;
    padding: 20px;
    h4 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
  .parrafo-con-fondo {
    font-size: 2.2rem;
    padding: 2rem;
    margin: 40px 0px;
  }
}
